extends /_extends/default

block body
  main.Content
    section.Section
      h2.Section-heading= page.title
      .Section-content
        p ただ主義か不愉快か関係が込み入っましば、翌日中腹にかい摘んから来るなら以上でおらくの先刻を見えたです。九月にもざっとしてしませななたて、余計毫も掴むて尊重もこうないなのな。
        p またお創作がありても行くますのうて、書物には、とうていおれか述べるがいうられんませないしれたまいと至るて、人数もふりまいで出しでない。おもにもちはむくむく個性という得でて、私とは今上までそれのお授業もなくなる下さいうます。それもけっして教育ののがご納得はならてならましたなですて、三一の人真似をあまり掴みだにおいて奔走ありて、ただそんな封建の個性で進んられるて、私かに私の世の中を任命に向いばいるたのないますと公言達しが演説でき行かありた。一間がしかし張さんをあるいはしっかりありないものないならです。
