extends /_extends/default

block body
  main.Content
    section.Section
      h2.Section-heading Getting started
      .Section-content
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquam ipsam architecto quaerat, quo molestiae sunt fugit placeat deleniti, rerum, veniam sed quas impedit, nesciunt aperiam cumque ratione recusandae earum.
