extends /_extends/default

block body
  main.Content
    section.Section
      h2.Section-heading= page.title
      .Section-content
        p.license-Display
          | MI
          span.license-Display-last T
