extends /_extends/default

block body
  main.Content
    section.Section
      h2.Section__heading= page.title
      .Section__content
        p.license-Display
          | MI
          span.license-Display__last T
