.Content {
  max-width: 75rem;
  margin: 3rem auto 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

  @media (min-width: $breakpoint-md) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
