.Disclosure {
}

.Disclosure__summary {
}

.Disclosure__toggle {
  padding: 0.125rem 0.5rem;
  background-color: gainsboro;
  border: 2px solid gray;
  box-shadow: 1px 1px 2px rgba(gray, 0.5);
}

@include focus-without-keyboard(".Disclosure__toggle") {
  outline: 0;
}

.Disclosure__toggle:active {
  background-color: silver;
  box-shadow: 2px 2px 3px rgba(gray, 0.5);
}

.Disclosure__details {
}
