.PageHeader {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.PageHeader__heading {
  margin-top: 0;
  margin-bottom: 0;
}

.PageHeader__lede {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
