// focus selector
@mixin focus-with-keyboard($element: &) {
  @at-root {
    html[data-whatinput="keyboard"] #{selector-append($element, ":focus")} {
      @content;
    }
  }
}

@mixin focus-without-keyboard($element: &) {
  @at-root {
    html[data-whatinput="initial"] #{selector-append($element, ":focus")},
    html[data-whatinput="mouse"] #{selector-append($element, ":focus")},
    html[data-whatinput="touch"] #{selector-append($element, ":focus")} {
      @content;
    }
  }
}

// for screen reader
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}
