// focus selector
@mixin focus-with-keyboard($selectors: &) {
  @at-root {
    @each $selector in selector-parse($selectors) {
      html[data-whatinput="keyboard"] #{selector-append($selector, ":focus")} {
        @content;
      }
    }
  }
}

@mixin focus-without-keyboard($selectors: &) {
  @at-root {
    @each $selector in selector-parse($selectors) {
      html[data-whatinput="initial"] #{selector-append($selector, ":focus")},
      html[data-whatinput="mouse"] #{selector-append($selector, ":focus")},
      html[data-whatinput="touch"] #{selector-append($selector, ":focus")} {
        @content;
      }
    }
  }
}

// for screen reader
@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
  clip: rect(0 0 0 0); // deprecated
}
