$font-stack__system-ui: system-ui, -apple-system, "Yu Gothic UI", "Segoe UI", "Meiryo", sans-serif;
$font-stack__sans-serif: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;

$line-height__default: 1.75;
$line-height__headers: 1.375;
