// typography
$font-family-system-ui: system-ui, -apple-system, "Yu Gothic UI", "Segoe UI", "Meiryo", sans-serif;
$font-family-sans-serif: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;

// media query
$mq-sm: "(min-width: 576px)";
$mq-md: "(min-width: 768px)";
$mq-lg: "(min-width: 992px)";
$mq-xl: "(min-width: 1200px)";
