header.GlobalHeader(class={'-home': page.isHome})
  h1.GlobalHeader__heading
    if page.isHome
      = file.meta.siteTitle
    else
      a.GlobalHeader__headingLink(href=absPath('/'))= file.meta.siteTitle
  nav.GlobalHeader__nav
    ul.GlobalHeader__navList
      each link in file.siteNavigation.navLinks
        li.GlobalHeader__navItem
          a.GlobalHeader__navLink(href=absPath(link[1]) class={'-current': page.path === link[1]})= link[0]
