header.SiteHeader
  nav.SiteHeader__nav
    ul.SiteHeader__navList
      - const _SiteHeader_isHomeCurrent = '/' === page.path
      li.SiteHeader__navItem
        a.SiteHeader__navLink(class={'-current': _SiteHeader_isHomeCurrent} href=_SiteHeader_isHomeCurrent ? '#main' : absPath('/') aria-current=_SiteHeader_isHomeCurrent && 'page')
          = file.meta.siteTitle
          span.VisuallyHidden ホーム
      each link in file.SiteHeader.navLinks
        - const isCurrent = link[1] === page.path
        li.SiteHeader__navItem
          a.SiteHeader__navLink(class={'-current': isCurrent} href=isCurrent ? '#main' : absPath(link[1]) aria-current=isCurrent && 'page')= link[0]
