html {
  font-family: $fontStack-systemUi;
  line-height: 1.5;
}

body {
  // overflow-wrap: break-word;
}

a {
  text-decoration-skip: ink;
}

address,
em,
cite,
dfn,
var,
i {
  font-style: inherit; // Don't use `italic` for Japanese
}

iframe,
video,
audio,
img,
svg,
canvas {
  vertical-align: bottom; // Remove bottom margin
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  fill: currentcolor;
  // max-width: 100%; // hack for Safari
  // max-height: 100%; // hack for Safari
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
