html {
    font-family: $font-family-system-ui;
    line-height: 1.5;
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@-ms-viewport {
    width: device-width;
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: inherit;
    font-weight: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

svg {
    fill: currentcolor;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

button,
input,
select,
textarea {
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
}

button {
    cursor: pointer;
}

button[disabled] {
    cursor: default;
}
