$font-size-browser-default: 16px;

// Media query
// Use em unit for bugs in Safari.
// https://zellwk.com/blog/media-query-units/
$mq-sm: "(min-width: 45em)";
$mq-md: "(min-width: 60em)";
$mq-lg: "(min-width: 75em)";

// Screen reader
@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(50%) !important;
  clip: rect(0, 0, 0, 0) !important; // deprecated
}
