$fontStack-systemUi: system-ui, -apple-system, "Yu Gothic UI", "Segoe UI", "Meiryo", sans-serif;
$fontStack-sansSerif: "Hiragino Sans", "Meiryo", sans-serif;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
